{% block title %}{{ 'Mise à jour des traductions' | trans }}{% endblock %}

{% block body %}

<h1>{{ 'Traduction des messages' | trans }}</h1>

<h4>{{ 'Domaine de traduction' | trans }} : {{ domain }}</h4>
<h4>{{ 'Langue' | trans }} : {{ lang.name | trans }}</h4>

{% if nb_translated is not null %}
    {% if nb_translated %}
        {{ 'Traductions enregistrées ! %count% modifications effectuées.' | trans({'%count%':nb_translated}) }}
    {% else %}
        {{ 'Aucun changement n\'a été fait.' | trans }}
    {% endif %}
{% endif %}

<form name="translate_update" id="translate_update" action="{{ url('pierstoval_translation_translate_edit', {'domain':domain,'locale':lang.locale}) }}" method="post">
    <fieldset>
        <div class="alert alert-info" id="always_save_indicator">
            <a class="btn btn-sm alert-link btn-link" href="{{ url('pierstoval_translation_translate_adminlist') }}">&laquo; {{ 'Retour à la liste des traductions' | trans }}</a>
            <input type="submit" class="btn btn-default" id="submit_updates" name="submit_updates" value="{{ 'Sauvegarder les modifications' | trans({}, 'admin.translation') }}" />
            <a class="btn btn-sm btn-link" href="{{ url('pierstoval_translation_translate_export', {"locale": lang.locale}) }}">{{ 'Exporter les traductions de cette langue' | trans({}, 'admin.translation') }}</a>
        </div>
        <hr />
		<div class="row">
            <div class="form-group col-lg-5">
				<h4>{{ 'Message original' | trans }}</h4>
            </div>
            <div class="form-group col-lg-5">
				<h4>{{ 'Traduction du message' | trans }}</h4>
            </div>
            <div class="btn-group col-lg-2">
				<h4>{{ 'Actions' | trans }}</h4>
            </div>
		</div>
        {% for item, translation in translations %}
        <div class="row">
            <div class="form-group col-lg-5">
                <label class="control-label" data-token="{{ translation.token }}" for="translation{{ translation.token }}">{{ translation.source }}</label>
                    {% for translationLike in translation.translationsLike %}
                        {% if loop.first %}
                            <div class="center-block text-info">{{ 'Traductions similaires trouvées' }} :</div>
                        {% endif %}
                        <small>{{ translationLike.source }} {{ translationLike.translation ? ' &#x25ba; ' : '' }} {{ translationLike.translation }}</small>
                        {% if not loop.last %} &mdash; {% endif %}
                    {% endfor %}
            </div>
            <div class="form-group col-lg-5">
                <textarea data-modified="false" name="translation[{{ translation.token }}]" id="translation_{{ translation.token }}" class="form-control translation_text" placeholder="{{ 'Écrivez ici la traduction du texte ci-contre' | trans }}">{{ translation.translation | raw }}</textarea>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-default btn-sm validate_translation" type="button" data-target-item="translation_{{ translation.token }}">{{ 'Sauvegarder' | trans }}</button>
                <button class="btn btn-default btn-sm recopy_message" type="button" data-target-item="translation_{{ translation.token }}">{{ 'Recopier le message d\'origine' | trans }}</button>
            </div>
        </div>
            <hr />
        {% else %}
            <div class="alert alert-danger">
                <h3>{{ 'Aucune traduction n\'a été trouvée !' | trans }}</h3>
            </div>
        {% endfor %}
    </fieldset>
</form>
{% endblock %}


{% block translation_javascripts %}
    {% if block('javascripts') is not empty %}{{ block('javascripts') | raw }}{% endif %}
    <script type="text/javascript">
        var message_replace_content = '{{ 'Remplacer le contenu ?' | trans({}, 'admin.translation') }}';
    </script>
    <script type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/pierstovaltranslation/js/translation.js') }}"></script>
{% endblock %}